[submodule "src/client/vendor/touch-events"]
	path = src/client/vendor/touch-events
	url = git@github.com:jerith666/touch-events.git
[submodule "src/client/vendor/elm-route-url"]
	path = src/client/vendor/elm-route-url
	url = git@github.com:jerith666/elm-route-url.git
